.executive-outer {
  background: var(--white);
  box-shadow: 0px 0px 25px rgba(182, 182, 182, 0.22);
  border-radius: 4px;
  height: 24rem;
  width: 18rem;

  display: flex;
  flex-direction: column;
}

.executive-outer>.executive-image {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-size: cover;
  background-position: 0% 5%;
  background-repeat: no-repeat;
  /* width: 100px; */
}

.executive-outer>.executive-content {
  /* height: 0%; */
  display: flex;
  flex-direction: column;
  height: 40%;
  box-sizing: border-box;
  padding: 1rem;
  float: right;
}

.executive-outer>.executive-content>h6 {
  /* font-size: 1.1rem; */
  text-decoration: underline var(--red) 2px;
  text-underline-offset: 8px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/*  */

.executive-outer>.executive-content>p>strong {
  color: rgba(0, 0, 0, 1);
}

.executive-outer>.executive-content>.icons {
  display: flex;
  margin-left: auto;
  margin-top: auto;
  gap: 0.5rem;
}

.executive-outer>.executive-content>.icons * {
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 100ms;
}

.executive-outer>.executive-content>.icons *:hover {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--red);
}

@media only screen and (max-width: 600px) {
  .executive-outer {
    width: 100%;
    height: 30rem;
  }
}