.imageTitleDate-card_body {
  height: 22rem;
  margin-right: 20px;
  outline: 0;
  cursor: pointer;
  box-shadow: 0px 0px 25px rgba(182, 182, 182, 0.22);
  border-radius: 4px;
  background-color: white;
}

.imageTitleDate-card_body .card_image {
  height: 65%;
  border-radius: 6px;
}

.imageTitleDate-card_body .card_container {
  height: 35%;
  padding: 0.8rem;
  overflow: hidden;
  position: relative;
}

.imageTitleDate-card_body .card_container .views {
  display: flex;
  margin-right: 0.2rem;
  /* float: right; */
}

.imageTitleDate-card_body .card_container h4 {
  font-weight: 600 !important;
  color: #000000d9;
  margin-top: 0;
}

.imageTitleDate-card_body .card_container > .title {
  font-size: 1.2rem;
  line-height: 128%;
  text-align: left;
  color: #222222;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 0rem;
  transition: color 250ms;
}

.imageTitleDate-card_body .card_container > .title:hover {
  color: var(--red);
}
/* .imageTitleDate-card_body:hover
{
    border: 1px solid black;

    transition: all 0.5s linear;
} */
.imageTitleDate-card_body .card_container h4:hover {
  color: var(--red);
  transition: color 500ms;
}

.imageTitleDate-card_body .card_container .dateviews {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 95%;
}

.imageTitleDate-card_body .card_container .dateviews * {
  color: #acacac;
  margin-bottom: 0.3rem;
}

.imageTitleDate-card_body .card_container .dateviews .views p {
  margin-top: -0.2rem;
  margin-left: 0.2rem;
}

@media only screen and (max-width: 769px) {
  .imageTitleDate-card_body {
    height: 22rem;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin: auto;
    margin-bottom: 1.5rem;
  }
}
