.event-page > main{
    max-width: var(--maxWidth);
    margin: 1rem auto;
}
.event-page .events{
    /* display: flex; */
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.event-page .events .events-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
}
.event-page .events > h4{
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1.5rem;
    text-decoration: underline var(--red) 2px;
    text-underline-offset: 8px;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: var(--blue) !important;
    border:0;
}