:root{
    --red : #ED1C24;
    --black: #222222;
}
main .attractive-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: auto;
    padding-top: 3rem;
    background-color: rgba(0, 0, 0, 0);
    max-width: 1300px;
}

main .attractive-news .left-outer, .middle,.right-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

main .attractive-news .left-outer{
    align-items: flex-start;
}

main .attractive-news .right-outer{
    align-items: flex-end;
}

main .attractive-news .left{
    align-items: flex-start;
}
main .attractive-news .right{
    align-items: flex-end;
}

main .attractive-news .left-outer .left-inner .heading{
    text-transform: uppercase;  
    color: var(--black);
    margin-bottom: 1.5rem;
}

main .attractive-news .right-outer .right-inner .heading{
    text-transform: uppercase;  
    color: var(--black);
    margin-bottom: 1.5rem;
    text-decoration: underline var(--red) 2px;
    text-underline-offset: 8px;
    /* margin-bottom: 5px; */
}

main .attractive-news .left-outer .left-inner .heading span{
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--red);
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

main .latest-news{
    max-width: 1300px;
    margin:auto;
}

main .latest-news h4{
    color: var(--black);
    line-height: 24px;
    margin-bottom: 3rem;
    text-decoration: underline var(--red) 2px;
    text-underline-offset: 8px;
    text-transform: uppercase;  
}

main .latest-news .latest-news-container{
    display: flex;
    justify-content: space-between;
}

