.middle_widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  margin: auto;
  padding-top: 3rem;
  /* background: red; */
  background-color: rgba(0, 0, 0, 0);
  /* max-width: 1300px; */
}

.middle_widgets .middle_widget_header {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  background: #000;
  align-items: center;
}

.middle_widgets .middle_widget_header h3 {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.middle_widgets .middle_widget_header p {
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  color: rgb(13, 161, 255);
}
.middle_widgets > * {
  min-width: 33%;
  max-width: 390px;
  /* margin-right: 1%; */
  margin-bottom: 3%;
}
.middle_widgets .MuiTableCell-root {
  font-size: 1.25rem;
  font-weight: 600;
}

@media only screen and (max-width: 1400px) {
  .middle_widgets {
    flex-direction: column;
  }
  .middle_widgets > * {
    min-width: 100%;
  }
}
