.newspage {
  padding-top: 1rem;
}

.newspage .main-news-page>.header-title {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  gap: 6%;
  margin-bottom: 2rem;
}

.newspage .main-news-page>.header-title>h4 {
  margin: auto 0;
  text-transform: uppercase;
  color: var(--black);
  -webkit-text-decoration: underline var(--red) 2px;
  text-decoration: underline var(--red) 2px;
  text-underline-offset: 8px;
}

.newspage .main-news-page>.header-title>.year {
  /* display: flex;
    justify-content: center; */
  display: flex;
  align-items: center;
  text-align: center;
}

.newspage .main-news-page>.header-title>.year>label {
  /* background-color: red; */
  font-size: 1.1rem;
}

.newspage .main-news-page>.header-title>.year>.form-control {
  margin-bottom: 2rem;
}

.newspage .main-news-page>.news-cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--blue) !important;
  border: 0;
}