.news-page .latest-news{
    /* display: flex; */
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.news-page .latest-news .latest-news-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:2rem;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: var(--blue) !important;
    border:0;
}