.particular-news-page {
    /* position: relative; */
}

.particular-news-page .search-bar {
    display: none;
}

.particular-news-page>main {
    max-width: var(--maxWidth);
    margin: 4rem auto;
    /* padding: 0 1rem; */
}

.particular-news-page>main header {
    display: flex;
    width: 100%;
}

.particular-news-page>main header .back-btn {
    color: var(--blue);
}

.particular-news-page>main header .title {
    margin-left: 3rem;
}

.particular-news-page>main>main section {
    width: 100%;
    margin-top: 2rem;
}

.particular-news-page>main>main .image-section img {
    border-radius: 8px;
}

.particular-news-page>main>main .event-section {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;

}

.particular-news-page>main>main .event-section section.left {
    flex: 68%;
}

.particular-news-page>main>main .event-section section.right {
    flex: 30%;
}

.particular-news-page>main>main .event-section section.right .right-inner {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 90%;
}

.particular-news-page>main>main .event-section section.right .right-inner .heading {
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1.5rem;
    text-decoration: underline var(--red) 2px;
    text-underline-offset: 8px;
}

.particular-news-page>main>main>.you-might-like-news {
    /* display: flex; */
}

.particular-news-page > main > main .you-might-like-news > h4 {
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1.5rem;
    text-decoration: underline var(--red) 2px;
    text-underline-offset: 8px;
}

.particular-news-page > main > main .you-might-like-news > .latest-news-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.particular-news-page > main > main  .bottom-back-next-button{
    display: flex;
    justify-content: space-between;
}
.particular-news-page > main > main  .bottom-back-next-button span{
    color: var(--blue);
}