.header{
    /* max-width: 1400px; */
    position: sticky;
    margin: 0 auto;
    padding: 0 !important;
    top:0;
    background-color: white;
    z-index: 100;
}
nav.navbar{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);
    top:0;
    position: sticky;
    background-color: white;
    z-index: 100;
}
.navbar .navbar-brand{
    margin-left: 1rem;
}

.nav-link{
    cursor: pointer;
}

#navbarNav .navbar-nav{
    width:100%;
    display: flex;
    justify-content: center;
}
#navbarNav .navbar-nav .nav-item{
    margin: 0 0.8rem;
}
#navbarNav .navbar-nav .active .nav-link{
    color:var(--red);
}

#navbarNav .navbar-nav .nav-link{
    color: var(--BLACK);
}

.nav-back{
    float: right;
}

nav.navbar button{
    color: var(--RED);
}
.search-bar{
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-bar #searchForm{
    width: 50%;
    border-radius: 32px;
    height: 48px;
    margin: 24px 0;
    display: flex;
    align-items: center;
    
}

.search-bar input{
    width: 90%;
    border: none;
    outline: none;
}

@media only screen and (max-width:900px) {

    .search-bar #searchForm {
        width: 85%;
    }

}