@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

:root{
  --red : #ED1C24 !important;
  --black: #222222 !important;
  --blue: #479BFF !important;
  --grey: #ACACAC !important;
  --maxWidth: 1300px !important;
  --mobileMaxWidth: 769px !important;
  --font:'Lato', sans-serif;
}

*{
    font-family: var(--font);
}