@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");

:root {
  --red: #ed1c24 !important;
  --black: #222222 !important;
  --blue: #479bff !important;
  --grey: #acacac !important;
  --white: #ffffff !important;
  --maxWidth: 1300px !important;
  --mobileMaxWidth: 769px !important;
  --font: "Lato", sans-serif;
}

* {
  font-family: var(--font);
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Set the background color of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Set the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(219, 22, 22, 0.5);
}

/* On hover, set the color of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(210, 22, 22, 0.7);
}

@media print {
  * {
    overflow: visible !important;
  }

  header,
  footer {
    display: none;
  }
}
